body {
	background-color: black;
	font-family: 'Montserrat';
	color: white;
}

h1{
	letter-spacing: 5px;
	font-size: 65px;
	text-align: center;
	margin: 10px;
}

img {
	height: 400px;
	width: 100%;
	margin-bottom: 40px;
	object-fit: cover;
	margin-top: 10px;
}

*{
	margin: 0;
	padding: 0;
}

ul{
	margin-left: 20px;
	font-size: 30px;
	list-style-type: none;
}

p{
	font-size: 40px;
	margin-left: 10px;
}

